# ========= [api] =========
# Database
DATABASE_TYPE=
DATABASE_URI=
PAYLOAD_SECRET=
PORT=
SEED_DATABASE=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_WEB_URL=

# ========= [db] =========
# MongoDB
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_DATABASE=
# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ========= [web] =========
PORT=
NEXT_PUBLIC_ASSETS_DIR=

# Mapbox
NEXT_PUBLIC_MAPBOX_API_KEY=

# Aws
NEXT_PUBLIC_AWS_AMPLIFY_USER_POOL_ID=
NEXT_PUBLIC_AWS_AMPLIFY_USER_POOL_WEB_CLIENT_ID=
NEXT_PUBLIC_AWS_AMPLIFY_REGION=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# ========= [web-demo] =========
PORT=
NEXT_PUBLIC_ASSETS_DIR=

# Mapbox
NEXT_PUBLIC_MAPBOX_API_KEY=

# Aws
NEXT_PUBLIC_AWS_AMPLIFY_USER_POOL_ID=
NEXT_PUBLIC_AWS_AMPLIFY_USER_POOL_WEB_CLIENT_ID=
NEXT_PUBLIC_AWS_AMPLIFY_REGION=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=